*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body
{
    display: flex;
    height: 100hv;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    padding: 10px;
}
.img
{
    max-width: 50%;
}
.container
{
    max-width: 1350px;
    margin: 0 auto;
}

.header
{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #efefef;
    padding: 70px 0;
}
.menu
{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color:#f8f8f8;
 
    
}

.logo
{
    font-size: 25px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 800;
    margin-left: 20px;
}
.menu .navbar ul li
{
    position: relative;
    float: left;

}
.menu .navbar ul li a 
{
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
    text-decoration: none;
    
}
#menu
{    
    display: none;
}
.menu-icono
{
    width: 25px;
}
.menu label
{
    cursor: pointer;
    display: none;
}
.nav label
{
    cursor: pointer;
    display: none;
}
.menu .navbar ul
{
    list-style: none;
}
.contenedor
{
    max-width: 700px;
    width: 100%;
    margin-top: 5%;
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 5px;
}
.contenedor .titulo
{
    font-size: 25px;
    font-weight: 500;     
    position: relative; 
}
.contenedor .titulo::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #ffffff;
}
.contenedor form .user-detalles 
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 12px 0;
    justify-content: space-between;
}
form .user-detalles .input-box
{
    margin-bottom: 15px;
    
    width: calc(100% /2 - 20px);
}

.user-detalles .input-box .detalles
{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-detalles .input-box input 
{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px; 
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-detalles .input-box input:focus,
.user-detalles .input-box input:valid
{
    border-color: #ccc;
}
form .genero-detalle .genero-titulo
{
    font-size: 20px;
    font-weight: 500;
}

form .genero-detalle .categoria
{
    display: flex;
    width: 80%;
    margin:  14px 0;
    justify-content: space-between;
}
.genero-detalle .categoria label
{
    display: flex;
    align-items: center;

}
.genero-detalle .punto
{
    height: 18px;
    width: 18px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease ;
}
#punto-1:checked ~ .categoria .uno,
#punto-2:checked ~ .categoria .dos,
#punto-3:checked ~ .categoria .tres{

    border-color: #d9d9d9;
    background: #f9f9f9;
}
form input[type ="radio"]
{
    display: none;
}
form .boton
{
    height: 45px;
    margin: 45px 0;
}
form .boton input
{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: gray;
}
form .boton input:hover
{
    background: gray;
}
@media (max-width: 584px)
{
    .contenedor
    {
        max-width: 100px;
    }
    form .user-detalles .input-box
    {
        margin-bottom: 15px;    
        width: 100%; 
    }
    .form .genero-detalle .categoria
    {
        width: 100%;
    }
    .contenedor form .user-detalles
    {
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-detalles::-webkit-scrollbar
    {
        width: 0;
    }
}